TIMEZONE=Asia/Shanghai
AUTH_KEY=
ROYALCMS_ENV=production
DEBUG=false
LOCALE=zh_CN

# Database
DB_HOST=
DB_PROT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_PREFIX=ecjia_
DB_SOCKET=

DB_ECJIA_HOST=${DB_HOST}
DB_ECJIA_DATABASE=${DB_DATABASE}
DB_ECJIA_USERNAME=${DB_USERNAME}
DB_ECJIA_PASSWORD=${DB_PASSWORD}
DB_ECJIA_PREFIX=${DB_PREFIX}
DB_ECJIA_PROT=${DB_PROT}
DB_ECJIA_SOCKET=${DB_SOCKET}

DB_CASHIER_HOST=${DB_HOST}
DB_CASHIER_DATABASE=${DB_DATABASE}
DB_CASHIER_USERNAME=${DB_USERNAME}
DB_CASHIER_PASSWORD=${DB_PASSWORD}
DB_CASHIER_PREFIX=${DB_PREFIX}
DB_CASHIER_PROT=${DB_PROT}
DB_CASHIER_SOCKET=${DB_SOCKET}


# Cache
CACHE_DRIVER = file #file, memcached, redis

